*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.search-box input{
    width: 300px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-bottom: 40px;
}

.card-container{
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 180px;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(180deg, #4e54c8, #8f94fb);
    color: white;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3{
    margin-top: 10px;
    font-size: 20px;
}

.card p{
    margin: 10px 0 15px;
    opacity: 0.9;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(255,255,255,0.1);
}
